 h1{
    color:rgb(255, 0, 0);text-align: center;
}

#icon {
    background-image: url(myntra.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100px;
    margin-left: 5%;
}
    .box {
        height: 50px;
        width: 50px;
    }
    #box1 {
        background-color: blue;
        border-radius: 10px;
    }

    #box2 {
        background-color: aqua;
        text-decoration:underline;
        border-radius: 10px;
    }
    body{
        height:2000px;
        background-color: rgb(98, 231, 187);
    }
    div {
        height: 70px;
        width: 70px;
        border: 5px black;
    }
    #box3 {
        top: 330px;
        left: 200px;

        background-color: pink;
        position: absolute;
    }
    #box4 {
        position: relative;
        left: 400px;
        background-color: aqua;
    }
    #box5 {
        background-color: bisque;
        bottom: 5px;
        position: relative;
    }
    .container {
        height: 400px;
        width: 1400px;
        border: 2px solid black;
        background-color: rgb(172, 244, 57);
        padding: 10px;
        margin: 20px;
        display: flex;
        justify-content: space-between;
     }
     .boxx {              
        height: 300px;
        width: 300px;
        margin: 50px;
        background-color: rgb(159, 127, 255);
        order: 2;
     }
     .boxxx {
        height: 300px;
        width: 300px;
        margin: 50px;
        background-color: aquamarine;
        order: 1;
     }
     .boxxxx{              
        height: 300px;
        width: 300px;
        margin: 50px;
        background-color: blueviolet;
        order: 3;
     }
     .button {
        height: 50px;
        width: 150px;
        margin: 10px;
        background-color: chocolate;
        border-radius: 20px;
        border: 10px;
        transition: all;
        transition-duration: 0s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
     }
     .button:hover {
        height: 80px;
        width: 200px;
        background-color: rgb(255, 0, 166);
     }
     .button:active
     {
        height: 110px;
        width: 210px;
        background-color: deepskyblue;
     }
     #cube {
        height: 50px;
        width: 50px;
        left: 100px;
        background-color: darkred;
        border-radius:10px;
     }
     #cube:hover {
            transform: scale(2);
     }
     .progresscontainer{
        width: 90%;
        height: 25px;
        background-color: aqua;
        border: 5px solid black;
        border-radius: 20px;
        position: relative;
        left: 50px;
     }
     .progressbar{
        background-color: blue;
        height: 100%;
        width: 50%;
        animation: animate 2s infinite;
     }
     @keyframes animate{
        0% {width:50%;}
        75% {width: 95%;}
        95% {width: 80%;}
        100% {width: 100%;}
     } 